{% extends "base.html" %}
{% load static %}

{% block title %}
Add New Task
{% endblock title %}
{% block external_css %}
    <link rel="stylesheet" href="{% static "css/add_task.css" %}">
{% endblock external_css %}

{% block content %}

<h2>Add New Task :</h2>
<div class="form_container">
    <form action="{% url "add_task" %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-3">Task Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter the title" name="title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Task Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="enter the Description" name="Description"></textarea>
        </div>
        <div class="btn">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form> 
</div>
<script>
    if ({error}) {
        alert("{{error}}")
    }
</script>
{% endblock content %}