.main{
    text-align: center;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
table{
    border: 1px solid white;
}
table td {
    border: 1px solid white;
    width: 400px;
}
table th {
    border: 1px solid white;
    width: 250px;
}
.btns{
    padding: 15px;
    text-align: center;
}
